# api id and api hash (my.telegram.org)
# required
API_ID='21849173'
API_HASH='5d4ae6614b45dc890f3cbe3980c493f3'

# pyrogram session string (@genstr_robot)
# required
SESSION='AQBUa3P0U8HfcilFtPP84n6M4oTPhSWDqiDR2c-kCa4AMt46xk4TcoTi-Tf8-piRcZfF1JiQPXdoM2Q7zzAA5HdD0oVnnODtWdW_Df8irPCDcd4hbVtEWmiZFQLU4gYuNn-G5Mxk2_q8waPDv6B0FIuMJbugq7XD1Jm3T_t7rmwjbPXlX7QV8EcZb1JIJlncUo4toHovq9DU3egqND9vtWVFgnx_i3eBNpYQ2BfNW3yT0plDV892D3nOW8NGdHKO51yv1ehhtY4PWCEGPKF7WdYct8F6KtdpsHY0WqtR91MHKPSNfa_CXOVc-YaWL8viCNK6Pie4RtkZBE_iqgwuqg9EAAAAAUfAUeYA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='5939117192:AAEDVAjbrP25z7n8DNIPIQOqc1OeACat4Xo'

# sudo user ids (separate with space)
# optional
SUDOERS='5498753510'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID='586ba3b44c5f437c853585359f57ec52'
SPOTIFY_CLIENT_SECRET='0e7242f6ce70419bbd1fac18848ab26b'
